<div class="iz_index">
    <div class="main_top">
        <div class="bnr_wrap">
            <div class="txt1"><img src="~/img/main/bnr_txt1.png" alt="카매니저의 새로운 시작" /></div>
            <div class="txt2"><img src="~/img/main/bnr_txt2.png" alt="카매니저의 새로운 시작" /></div>
            <div class="img"><img src="~/img/main/bnr_img.png" alt="메인배너" /></div>
            <span class="arrow"><img src="~/img/main/bnr_arrow.png" alt="" /></span>
        </div>
        <div class="login_wrap">
            <div class="login_after" style="display:block;">
                <div class="user">
                    <div class="thum_wrap">
                        <div class="thum"><img src="~/img/main/ico_dealer_default.png" alt="사진" /></div>
                        <button type="button" class="set"><img src="~/img/main/icon_user_set.png" alt="환경설정" /> /></button>
                    </div>
                    <div class="info">
                        @* TODO: Populate B2C User details *@
                        <div class="name"><em>홍길동</em>님</div>
                        <div class="co">비즈인포상사 소속</div>
                        <div class="phone">010-1234-5678</div>
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="icon"><img src="~/img/main/login_icon1.png" alt="아이콘" /></div>
                        <dl>
                            <dt>미수정 차량</dt>
                            <dd><span class="counter" data-count="10">10</span>대</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="icon"><img src="~/img/main/login_icon2.png" alt="아이콘" /></div>
                        <dl>
                            <dt>광고중 차량</dt>
                            <dd><span class="counter" data-count="1234">1,234</span>대</dd>
                        </dl>
                    </li>
                    <li>
                        <div class="icon"><img src="~/img/main/login_icon3.png" alt="아이콘" /></div>
                        <dl>
                            <dt>수출가능 차량</dt>
                            <dd><span class="counter" data-count="50">50</span>대</dd>
                        </dl>
                    </li>
                </ul>
                <a asp-controller="Home" asp-action="SignOut" class="logout"><span><img src="~/img/main/logout_btn.png" alt="로그아웃" /></span></a>
            </div><!-- // login_after-->
        </div>
    </div><!-- // main_top -->

    <div class="main_content">
        <div class="tit">카매니저는 차량 통합 비즈니스 플랫폼입니다.</div>
        <p>차량등록, 광고, 판매와 같은 차량 관련 비즈니스를 ‘카매니저’에서 함께 하세요.</p>
        <ul>
            <li>
                <div class="thum"><img src="~/img/main/main_con_img1.png" /></div>
                <p>중고차 보유 수NO.1</p>
                <p><span>3만 5천 딜러와 450개 매매단지 이용</span><span>상시 2만여대의 중고차 보유</span></p>
            </li>
            <li>
                <div class="thum"><img src="~/img/main/main_con_img2.png" /></div>
                <p>All-in-One 차량관리</p>
                <p><span>등록, 광고, 판매를 한번에</span><span>확인하고 관리</span></p>
            </li>
            <li>
                <div class="thum"><img src="~/img/main/main_con_img3.png" /></div>
                <p>개인화된 정보제공</p>
                <p><span>중고차, 수출, 신차딜러 등</span><span>판매행태에 따른 최적화 정보제공</span></p>
            </li>
            <li>
                <div class="thum"><img src="~/img/main/main_con_img4.png" /></div>
                <p>구인구직 정보제공</p>
                <p><span>상 사와 딜러를 연결하여<br />전국 일자리 정보와 인재정보 제공</span></p>
            </li>
        </ul>
    </div>
    <!-- // main_content -->

    <div class="main_footer">
        <div class="tit">모바일에서도 간편하게 제공!</div>
        <p class="txt">차량 통합 비즈니스<br />카매니저에서 시작하세요.</p>
        <div class="store">
            <button type="button"><img src="~/img/main/icon_playstore.png" alt="google playstore" /></button>
            <button type="button"><img src="~/img/main/icon_appstore.png" alt="appstore" /></button>
        </div>
    </div>
</div>
<!-- // iz_index -->