.layer_login div.tit_wrap {
    padding-bottom: 40px;
}

.layer_login .intro {
    padding-bottom: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
}

.layer_login .intro>* {
    font-weight: inherit !important;
    font-size: inherit !important;
}

.layer_login .social .options {
    text-align: center;
}

.layer_login .social .options .accountButton {
    height: 56px;
    width: 434px;
    background-size: contain;
    color: transparent;
    text-indent: -9999px;
    transition: all 100ms ease-in-out;
}

.layer_login .social .options>div+div {
    margin-top: 10px;
}

.layer_login .social .options .accountButton:hover {
    transform: translateX(5px);
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2);
}

.layer_login .social .options .accountButton#PassExchange {
    background-image: url(../img/main/layer_login_btn1.png);
}

.layer_login .social .options .accountButton#GoogleExchange {
    background-image: url(../img/main/layer_login_btn4.png);
}

.layer_login .social .options .accountButton#FacebookExchange {
    background-image: url(../img/main/layer_login_btn3.png);
}

.layer_login .social .options .accountButton#MsaExchange {
    background-image: url(../img/main/layer_login_btn2.png);
}

.layer_login .attrEntry {
    margin-bottom: 10px;
}

.layer_login .attrEntry label,
.layer_login .attrEntry [role="alert"] {
    text-transform: uppercase;
    font-size: .85em;
    color: #666;
}

.layer_login .attrEntry .helpLink {
    display: none;
}

.layer_login form .error {
    color: darkred;
}

.layer_login form .pageLevel {
    position: relative;
    top: -15px;
}

.layer_login input[type="email"],
.layer_login input[type="text"],
textarea {
    padding: 6px 10px;
    border: 2px solid #000;
}

.layer_login form .buttons {
    margin-top: 15px;
}

.layer_login form .buttons button {
    padding: 12px 24px;
    border: 2px solid #4858eb;
    background: #fff;
    color: #4858eb;
    transition: all 100ms ease-in-out;
}

.layer_login form .buttons button:hover {
    transform: translateX(5px);
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2);
}

.layer_login form .buttons button+button {
    margin-left: 8px;
}

.layer_login form .buttons #continue {
    background: #4858eb;
    color: #fff;
}

.layer_login .verifying-modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.layer_login .verifying-modal #verifying_blurb {
    padding-top: 250px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black
}